In [1]:
import pandas as pd
from libs import indicators as  ind

In [7]:
product = {'month' : [1,2,3,4,5,6,7,8,9,10,11,12],'demand':[1,2,3,4,5,303,329,340,316,330,308,310],'demand_1':[290,260,288,300,310,303,329,340,316,330,308,310]}
df = pd.DataFrame(product)

In [8]:
df

    month  demand  demand_1
0       1       1       290
1       2       2       260
2       3       3       288
3       4       4       300
4       5       5       310
5       6     303       303
6       7     329       329
7       8     340       340
8       9     316       316
9      10     330       330
10     11     308       308
11     12     310       310

In [9]:
ind.add_simple_moving_average(df, 3, 'demand_1')

In [10]:
df

    month  demand  demand_1     SMA_3_D
0       1       1       290         NaN
1       2       2       260         NaN
2       3       3       288  279.333333
3       4       4       300  282.666667
4       5       5       310  299.333333
5       6     303       303  304.333333
6       7     329       329  314.000000
7       8     340       340  324.000000
8       9     316       316  328.333333
9      10     330       330  328.666667
10     11     308       308  318.000000
11     12     310       310  316.000000

In [20]:
df.iloc[:,1]

0       1
1       2
2       3
3       4
4       5
5     303
6     329
7     340
8     316
9     330
10    308
11    310
Name: demand, dtype: int64

In [28]:
df['demand']

0       1
1       2
2       3
3       4
4       5
5     303
6     329
7     340
8     316
9     330
10    308
11    310
Name: demand, dtype: int64